* {
    box-sizing: border-box;
    border: 1px dotted red;

}

body {
    font-family: Helvetica cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    display: flex;
    align-items: center;
    height: 3.125rem;
}
h1 {
    color: black;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

article { 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 9.375rem;
    width: 18.75rem;
    border-radius: 7px;
}
